workflow/lark-sepay-payment-workflow.json
{
  "name": "SePay - Receive Payment Webhook",
  "nodes": [
    {
      "id": "sp-01-webhook",
      "name": "Webhook - SePay Payment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "sepay-payment",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "sepay-payment-webhook"
    },
    {
      "id": "sp-02-set-tx",
      "name": "Set - Extract Data + Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "paymentCode",      "type": "string", "value": "={{ $json.body.code || $json.body.transaction_content }}" },
            { "name": "amountIn",         "type": "number", "value": "={{ $json.body.amount_in }}" },
            { "name": "txDate",           "type": "string", "value": "={{ $json.body.transaction_date }}" },
            { "name": "bankName",         "type": "string", "value": "={{ $json.body.bank_brand_name }}" },
            { "name": "LARK_APP_ID",      "type": "string", "value": "cli_a958af6c4bf89e18" },
            { "name": "LARK_APP_SECRET",  "type": "string", "value": "rYvaoByzErm0qkI5xD2DQeJF2NvwwTey" },
            { "name": "LARK_APP_TOKEN",   "type": "string", "value": "ZpfMbtPOLaRWS9srU3EjOj7kpxd" },
            { "name": "LARK_TABLE_ID",    "type": "string", "value": "tblmJbEkZ6518VhN" },
            { "name": "SENDER_EMAIL",     "type": "string", "value": "hello@vigacademy.vn" },
            { "name": "HOTLINE",          "type": "string", "value": "0901234567" },
            { "name": "COURSE_PORTAL_URL","type": "string", "value": "https://learn.vigacademy.vn" }
          ]
        }
      }
    },
    {
      "id": "sp-03-get-token",
      "name": "Get Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"app_id\":\"{{ $json.LARK_APP_ID }}\",\"app_secret\":\"{{ $json.LARK_APP_SECRET }}\"}"
      }
    },
    {
      "id": "sp-04-set-token",
      "name": "Set - With Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "larkToken",        "type": "string", "value": "={{ $json.tenant_access_token }}" },
            { "name": "paymentCode",      "type": "string", "value": "={{ $('Set - Extract Data + Config').item.json.paymentCode }}" },
            { "name": "amountIn",         "type": "number", "value": "={{ $('Set - Extract Data + Config').item.json.amountIn }}" },
            { "name": "txDate",           "type": "string", "value": "={{ $('Set - Extract Data + Config').item.json.txDate }}" },
            { "name": "bankName",         "type": "string", "value": "={{ $('Set - Extract Data + Config').item.json.bankName }}" },
            { "name": "LARK_APP_TOKEN",   "type": "string", "value": "={{ $('Set - Extract Data + Config').item.json.LARK_APP_TOKEN }}" },
            { "name": "LARK_TABLE_ID",    "type": "string", "value": "={{ $('Set - Extract Data + Config').item.json.LARK_TABLE_ID }}" },
            { "name": "SENDER_EMAIL",     "type": "string", "value": "={{ $('Set - Extract Data + Config').item.json.SENDER_EMAIL }}" },
            { "name": "HOTLINE",          "type": "string", "value": "={{ $('Set - Extract Data + Config').item.json.HOTLINE }}" },
            { "name": "COURSE_PORTAL_URL","type": "string", "value": "={{ $('Set - Extract Data + Config').item.json.COURSE_PORTAL_URL }}" }
          ]
        }
      }
    },
    {
      "id": "sp-05-lark-search",
      "name": "Lark Base - Search by Payment Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json.LARK_APP_TOKEN }}/tables/{{ $json.LARK_TABLE_ID }}/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $json.larkToken }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      { \"field_name\": \"Ma thanh toan\", \"operator\": \"is\", \"value\": [\"{{ $json.paymentCode }}\"] }\n    ]\n  },\n  \"page_size\": 1\n}"
      }
    },
    {
      "id": "sp-06-if-found",
      "name": "IF - Record Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-found",
              "leftValue": "={{ $json.data.total }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "sp-07-set-record",
      "name": "Set - Store Record Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 160],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "larkRecordId",     "type": "string", "value": "={{ $json.data.items[0].record_id }}" },
            { "name": "contactName",      "type": "string", "value": "={{ $json.data.items[0].fields['Ho va ten'] }}" },
            { "name": "contactEmail",     "type": "string", "value": "={{ $json.data.items[0].fields['Email'] }}" },
            { "name": "courseName",       "type": "string", "value": "={{ $json.data.items[0].fields['Khoa hoc'] }}" },
            { "name": "paymentCode",      "type": "string", "value": "={{ $json.data.items[0].fields['Ma thanh toan'] }}" },
            { "name": "larkToken",        "type": "string", "value": "={{ $('Set - With Token').item.json.larkToken }}" },
            { "name": "LARK_APP_TOKEN",   "type": "string", "value": "={{ $('Set - With Token').item.json.LARK_APP_TOKEN }}" },
            { "name": "LARK_TABLE_ID",    "type": "string", "value": "={{ $('Set - With Token').item.json.LARK_TABLE_ID }}" },
            { "name": "SENDER_EMAIL",     "type": "string", "value": "={{ $('Set - With Token').item.json.SENDER_EMAIL }}" },
            { "name": "HOTLINE",          "type": "string", "value": "={{ $('Set - With Token').item.json.HOTLINE }}" },
            { "name": "COURSE_PORTAL_URL","type": "string", "value": "={{ $('Set - With Token').item.json.COURSE_PORTAL_URL }}" },
            { "name": "amountIn",         "type": "number", "value": "={{ $('Set - With Token').item.json.amountIn }}" },
            { "name": "txDate",           "type": "string", "value": "={{ $('Set - With Token').item.json.txDate }}" }
          ]
        }
      }
    },
    {
      "id": "sp-08-lark-update",
      "name": "Lark Base - Update Status Paid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 160],
      "parameters": {
        "method": "PUT",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json.LARK_APP_TOKEN }}/tables/{{ $json.LARK_TABLE_ID }}/records/{{ $json.larkRecordId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $json.larkToken }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"fields\": {\n    \"Trang thai\": \"Da thanh toan\",\n    \"Segment\": \"Hoc vien active\",\n    \"Ngay kich hoat\": \"{{ $now.toISO() }}\"\n  }\n}"
      }
    },
    {
      "id": "sp-09-email-confirm",
      "name": "Email - Payment Confirmation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2000, 160],
      "credentials": {
        "smtp": { "id": "smtp-credential", "name": "SMTP" }
      },
      "parameters": {
        "fromEmail": "={{ $('Set - Store Record Info').item.json.SENDER_EMAIL }}",
        "toEmail":   "={{ $('Set - Store Record Info').item.json.contactEmail }}",
        "subject":   "=Thanh toan thanh cong - Chao mung den {{ $('Set - Store Record Info').item.json.courseName }}",
        "emailFormat": "html",
        "message": "=<!DOCTYPE html><html lang=\"vi\"><head><meta charset=\"UTF-8\"></head><body style=\"margin:0;padding:0;background:#f4f4f4;font-family:'Segoe UI',Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:20px 0;\"><tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:linear-gradient(135deg,#43a047,#66bb6a);padding:32px;text-align:center;border-radius:16px 16px 0 0;\"><h1 style=\"color:#fff;margin:0;font-size:24px;\">Thanh toan thanh cong</h1></td></tr><tr><td style=\"background:#fff;padding:36px;border:1px solid #eee;\"><p>Xin chao <strong style=\"color:#e91e8c;\">{{ $('Set - Store Record Info').item.json.contactName }}</strong>,</p><p>Da xac nhan thanh toan khoa hoc <strong>{{ $('Set - Store Record Info').item.json.courseName }}</strong>.</p><table width=\"100%\" style=\"border-collapse:collapse;margin:20px 0;\"><tr style=\"background:#f9f0ff;\"><td style=\"padding:12px;font-weight:600;\">Ma thanh toan</td><td style=\"padding:12px;\"><code style=\"background:#ffe0f0;color:#c2185b;padding:3px 8px;border-radius:4px;\">{{ $('Set - Store Record Info').item.json.paymentCode }}</code></td></tr><tr><td style=\"padding:12px;font-weight:600;border-top:1px solid #eee;\">So tien</td><td style=\"padding:12px;border-top:1px solid #eee;color:#43a047;font-weight:700;\">{{ $('Set - Store Record Info').item.json.amountIn }} VND</td></tr><tr style=\"background:#f9f0ff;\"><td style=\"padding:12px;font-weight:600;border-top:1px solid #eee;\">Thoi gian</td><td style=\"padding:12px;border-top:1px solid #eee;\">{{ $('Set - Store Record Info').item.json.txDate }}</td></tr></table><div style=\"text-align:center;padding:20px;background:#e8f5e9;border-radius:12px;\"><a href=\"{{ $('Set - Store Record Info').item.json.COURSE_PORTAL_URL }}\" style=\"background:linear-gradient(135deg,#e91e8c,#9c27b0);color:#fff;padding:14px 32px;border-radius:8px;text-decoration:none;font-weight:700;\">Truy cap khoa hoc</a></div><p style=\"margin-top:20px;font-size:13px;color:#888;\">Hotline: <a href=\"tel:{{ $('Set - Store Record Info').item.json.HOTLINE }}\" style=\"color:#e91e8c;\">{{ $('Set - Store Record Info').item.json.HOTLINE }}</a></p></td></tr><tr><td style=\"background:#f5f5f5;padding:12px;text-align:center;border-radius:0 0 16px 16px;font-size:12px;color:#aaa;\">© 2025 VIG Academy</td></tr></table></td></tr></table></body></html>"
      }
    },
    {
      "id": "sp-10-respond-ok",
      "name": "Respond - OK to SePay",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }"
      }
    },
    {
      "id": "sp-11-respond-notfound",
      "name": "Respond - Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 440],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"No matching record\" }"
      }
    }
  ],
  "connections": {
    "Webhook - SePay Payment": {
      "main": [[{ "node": "Set - Extract Data + Config", "type": "main", "index": 0 }]]
    },
    "Set - Extract Data + Config": {
      "main": [[{ "node": "Get Token", "type": "main", "index": 0 }]]
    },
    "Get Token": {
      "main": [[{ "node": "Set - With Token", "type": "main", "index": 0 }]]
    },
    "Set - With Token": {
      "main": [[{ "node": "Lark Base - Search by Payment Code", "type": "main", "index": 0 }]]
    },
    "Lark Base - Search by Payment Code": {
      "main": [[{ "node": "IF - Record Found", "type": "main", "index": 0 }]]
    },
    "IF - Record Found": {
      "main": [
        [
          { "node": "Set - Store Record Info",  "type": "main", "index": 0 },
          { "node": "Respond - OK to SePay",    "type": "main", "index": 0 }
        ],
        [{ "node": "Respond - Not Found", "type": "main", "index": 0 }]
      ]
    },
    "Set - Store Record Info": {
      "main": [[{ "node": "Lark Base - Update Status Paid", "type": "main", "index": 0 }]]
    },
    "Lark Base - Update Status Paid": {
      "main": [[{ "node": "Email - Payment Confirmation", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "SePay" }, { "name": "Payment" }],
  "pinData": {}
}
