workflow/vig-full-workflow.json
{
  "name": "VIG Academy - Full Payment CRM Workflow",
  "nodes": [
    {
      "id": "reg-01",
      "name": "Webhook - Register",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "course-registration",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "course-registration-webhook"
    },
    {
      "id": "reg-02",
      "name": "Respond - Registration OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 160],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      }
    },
    {
      "id": "reg-03",
      "name": "Set - Registration Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "contactName",      "type": "string", "value": "={{ $json.body.name }}" },
            { "name": "contactEmail",     "type": "string", "value": "={{ $json.body.email }}" },
            { "name": "contactPhone",     "type": "string", "value": "={{ $json.body.phone }}" },
            { "name": "courseName",       "type": "string", "value": "={{ $json.body.course }}" },
            { "name": "coursePrice",      "type": "number", "value": "={{ $json.body.price }}" },
            { "name": "paymentCode",      "type": "string", "value": "={{ $json.body.paymentCode }}" },
            { "name": "registeredAt",     "type": "string", "value": "={{ $now.toISO() }}" },
            { "name": "LARK_APP_ID",      "type": "string", "value": "cli_a958af6c4bf89e18" },
            { "name": "LARK_APP_SECRET",  "type": "string", "value": "rYvaoByzErm0qkI5xD2DQeJF2NvwwTey" },
            { "name": "LARK_APP_TOKEN",   "type": "string", "value": "ZpfMbtPOLaRWS9srU3EjOj7kpxd" },
            { "name": "LARK_TABLE_ID",    "type": "string", "value": "tblmJbEkZ6518VhN" },
            { "name": "SENDER_EMAIL",     "type": "string", "value": "hello@vigacademy.vn" },
            { "name": "BANK_CODE",        "type": "string", "value": "MB" },
            { "name": "BANK_ACCOUNT",     "type": "string", "value": "123456789" },
            { "name": "BANK_NAME",        "type": "string", "value": "MB Bank" },
            { "name": "HOTLINE",          "type": "string", "value": "0901234567" },
            { "name": "COURSE_PORTAL_URL","type": "string", "value": "https://learn.vigacademy.vn" }
          ]
        }
      }
    },
    {
      "id": "reg-04",
      "name": "Get Token - Reg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"app_id\":\"{{ $json.LARK_APP_ID }}\",\"app_secret\":\"{{ $json.LARK_APP_SECRET }}\"}"
      }
    },
    {
      "id": "reg-05",
      "name": "Set - Reg Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "larkToken",        "type": "string", "value": "={{ $json.tenant_access_token }}" },
            { "name": "contactName",      "type": "string", "value": "={{ $('Set - Registration Data').item.json.contactName }}" },
            { "name": "contactEmail",     "type": "string", "value": "={{ $('Set - Registration Data').item.json.contactEmail }}" },
            { "name": "contactPhone",     "type": "string", "value": "={{ $('Set - Registration Data').item.json.contactPhone }}" },
            { "name": "courseName",       "type": "string", "value": "={{ $('Set - Registration Data').item.json.courseName }}" },
            { "name": "coursePrice",      "type": "number", "value": "={{ $('Set - Registration Data').item.json.coursePrice }}" },
            { "name": "paymentCode",      "type": "string", "value": "={{ $('Set - Registration Data').item.json.paymentCode }}" },
            { "name": "registeredAt",     "type": "string", "value": "={{ $('Set - Registration Data').item.json.registeredAt }}" },
            { "name": "LARK_APP_ID",      "type": "string", "value": "={{ $('Set - Registration Data').item.json.LARK_APP_ID }}" },
            { "name": "LARK_APP_SECRET",  "type": "string", "value": "={{ $('Set - Registration Data').item.json.LARK_APP_SECRET }}" },
            { "name": "LARK_APP_TOKEN",   "type": "string", "value": "={{ $('Set - Registration Data').item.json.LARK_APP_TOKEN }}" },
            { "name": "LARK_TABLE_ID",    "type": "string", "value": "={{ $('Set - Registration Data').item.json.LARK_TABLE_ID }}" },
            { "name": "SENDER_EMAIL",     "type": "string", "value": "={{ $('Set - Registration Data').item.json.SENDER_EMAIL }}" },
            { "name": "BANK_CODE",        "type": "string", "value": "={{ $('Set - Registration Data').item.json.BANK_CODE }}" },
            { "name": "BANK_ACCOUNT",     "type": "string", "value": "={{ $('Set - Registration Data').item.json.BANK_ACCOUNT }}" },
            { "name": "BANK_NAME",        "type": "string", "value": "={{ $('Set - Registration Data').item.json.BANK_NAME }}" },
            { "name": "HOTLINE",          "type": "string", "value": "={{ $('Set - Registration Data').item.json.HOTLINE }}" },
            { "name": "COURSE_PORTAL_URL","type": "string", "value": "={{ $('Set - Registration Data').item.json.COURSE_PORTAL_URL }}" }
          ]
        }
      }
    },
    {
      "id": "reg-06",
      "name": "Lark - Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json.LARK_APP_TOKEN }}/tables/{{ $json.LARK_TABLE_ID }}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $json.larkToken }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"fields\":{\"Họ và tên\":\"{{ $json.contactName }}\",\"Email\":\"{{ $json.contactEmail }}\",\"Số điện thoại\":\"{{ $json.contactPhone }}\",\"Khóa học\":\"{{ $json.courseName }}\",\"Giá\":{{ $json.coursePrice }},\"Mã thanh toán\":\"{{ $json.paymentCode }}\",\"Trạng thái\":[\"Chờ thanh toán\"],\"Ngày đăng ký\":{{ $now.toMillis() }}}}"
      }
    },
    {
      "id": "reg-07",
      "name": "Set - Store Record ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 300],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "larkRecordId",     "type": "string", "value": "={{ $json.data.record.record_id }}" },
            { "name": "larkToken",        "type": "string", "value": "={{ $('Set - Reg Token').item.json.larkToken }}" },
            { "name": "contactName",      "type": "string", "value": "={{ $('Set - Reg Token').item.json.contactName }}" },
            { "name": "contactEmail",     "type": "string", "value": "={{ $('Set - Reg Token').item.json.contactEmail }}" },
            { "name": "courseName",       "type": "string", "value": "={{ $('Set - Reg Token').item.json.courseName }}" },
            { "name": "coursePrice",      "type": "number", "value": "={{ $('Set - Reg Token').item.json.coursePrice }}" },
            { "name": "paymentCode",      "type": "string", "value": "={{ $('Set - Reg Token').item.json.paymentCode }}" },
            { "name": "LARK_APP_ID",      "type": "string", "value": "={{ $('Set - Reg Token').item.json.LARK_APP_ID }}" },
            { "name": "LARK_APP_SECRET",  "type": "string", "value": "={{ $('Set - Reg Token').item.json.LARK_APP_SECRET }}" },
            { "name": "LARK_APP_TOKEN",   "type": "string", "value": "={{ $('Set - Reg Token').item.json.LARK_APP_TOKEN }}" },
            { "name": "LARK_TABLE_ID",    "type": "string", "value": "={{ $('Set - Reg Token').item.json.LARK_TABLE_ID }}" },
            { "name": "SENDER_EMAIL",     "type": "string", "value": "={{ $('Set - Reg Token').item.json.SENDER_EMAIL }}" },
            { "name": "BANK_CODE",        "type": "string", "value": "={{ $('Set - Reg Token').item.json.BANK_CODE }}" },
            { "name": "BANK_ACCOUNT",     "type": "string", "value": "={{ $('Set - Reg Token').item.json.BANK_ACCOUNT }}" },
            { "name": "BANK_NAME",        "type": "string", "value": "={{ $('Set - Reg Token').item.json.BANK_NAME }}" },
            { "name": "HOTLINE",          "type": "string", "value": "={{ $('Set - Reg Token').item.json.HOTLINE }}" },
            { "name": "COURSE_PORTAL_URL","type": "string", "value": "={{ $('Set - Reg Token').item.json.COURSE_PORTAL_URL }}" }
          ]
        }
      }
    },
    {
      "id": "reg-08",
      "name": "Email - QR Payment",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1560, 300],
      "credentials": { "smtp": { "id": "smtp-credential", "name": "SMTP" } },
      "parameters": {
        "fromEmail": "={{ $json.SENDER_EMAIL }}",
        "toEmail":   "={{ $json.contactEmail }}",
        "subject":   "=Hoan tat thanh toan - {{ $json.courseName }} | VIG Academy",
        "emailFormat": "html",
        "message": "=<!DOCTYPE html><html lang=\"vi\"><head><meta charset=\"UTF-8\"></head><body style=\"margin:0;padding:0;background:#f4f4f4;font-family:'Segoe UI',Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:20px 0;\"><tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:linear-gradient(135deg,#e91e8c,#9c27b0);padding:32px;text-align:center;border-radius:16px 16px 0 0;\"><h1 style=\"color:#fff;margin:0;font-size:26px;\">VIG Academy</h1><p style=\"color:rgba(255,255,255,0.85);margin:8px 0 0;\">Xac nhan dang ky khoa hoc</p></td></tr><tr><td style=\"background:#fff;padding:36px;border:1px solid #eee;\"><p>Xin chao <strong style=\"color:#e91e8c;\">{{ $json.contactName }}</strong>,</p><p>Ban da dang ky khoa hoc <strong>{{ $json.courseName }}</strong>. Vui long quet ma QR de hoan tat thanh toan:</p><div style=\"background:linear-gradient(135deg,#fce4ec,#f3e5f5);border:2px solid #e91e8c;border-radius:16px;padding:28px;text-align:center;margin:20px 0;\"><h3 style=\"color:#c2185b;margin:0 0 16px;\">Quet ma QR thanh toan</h3><img src=\"https://qr.sepay.vn/{{ $json.BANK_CODE }}/{{ $json.BANK_ACCOUNT }}?amount={{ $json.coursePrice }}&content={{ $json.paymentCode }}\" width=\"200\" height=\"200\" alt=\"QR\" style=\"border-radius:12px;border:4px solid #fff;\"/><table style=\"width:100%;margin-top:16px;\"><tr><td style=\"padding:6px 0;font-size:14px;\"><strong>Ngan hang:</strong> {{ $json.BANK_NAME }}</td></tr><tr><td style=\"padding:6px 0;font-size:14px;\"><strong>So TK:</strong> {{ $json.BANK_ACCOUNT }}</td></tr><tr><td style=\"padding:6px 0;font-size:14px;\"><strong>So tien:</strong> <span style=\"color:#e91e8c;font-weight:700;\">{{ $json.coursePrice }} VND</span></td></tr><tr><td style=\"padding:6px 0;font-size:14px;\"><strong>Noi dung CK:</strong> <code style=\"background:#ffe0f0;color:#c2185b;padding:3px 8px;border-radius:4px;font-weight:700;\">{{ $json.paymentCode }}</code></td></tr></table></div><p style=\"background:#fff8e1;border-left:4px solid #ffc107;padding:12px 16px;font-size:14px;color:#795548;\">Thanh toan trong <strong>3 ngay</strong> de giu cho hoc.</p><p style=\"font-size:13px;color:#888;margin-top:16px;\">Ho tro: <a href=\"tel:{{ $json.HOTLINE }}\" style=\"color:#e91e8c;\">{{ $json.HOTLINE }}</a></p></td></tr><tr><td style=\"background:#f5f5f5;padding:12px;text-align:center;font-size:12px;color:#aaa;border-radius:0 0 16px 16px;\">© 2025 VIG Academy</td></tr></table></td></tr></table></body></html>"
      }
    },
    {
      "id": "reg-09",
      "name": "Wait - 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1780, 300],
      "parameters": { "resume": "timeInterval", "unit": "days", "amount": 3 },
      "webhookId": "wait-3-days"
    },
    {
      "id": "reg-10",
      "name": "Get Token - Refresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"app_id\":\"{{ $json.LARK_APP_ID }}\",\"app_secret\":\"{{ $json.LARK_APP_SECRET }}\"}"
      }
    },
    {
      "id": "reg-11",
      "name": "Set - Post Wait",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2220, 300],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "larkToken",        "type": "string", "value": "={{ $json.tenant_access_token }}" },
            { "name": "larkRecordId",     "type": "string", "value": "={{ $('Set - Store Record ID').item.json.larkRecordId }}" },
            { "name": "contactName",      "type": "string", "value": "={{ $('Set - Store Record ID').item.json.contactName }}" },
            { "name": "contactEmail",     "type": "string", "value": "={{ $('Set - Store Record ID').item.json.contactEmail }}" },
            { "name": "courseName",       "type": "string", "value": "={{ $('Set - Store Record ID').item.json.courseName }}" },
            { "name": "coursePrice",      "type": "number", "value": "={{ $('Set - Store Record ID').item.json.coursePrice }}" },
            { "name": "paymentCode",      "type": "string", "value": "={{ $('Set - Store Record ID').item.json.paymentCode }}" },
            { "name": "LARK_APP_TOKEN",   "type": "string", "value": "={{ $('Set - Store Record ID').item.json.LARK_APP_TOKEN }}" },
            { "name": "LARK_TABLE_ID",    "type": "string", "value": "={{ $('Set - Store Record ID').item.json.LARK_TABLE_ID }}" },
            { "name": "SENDER_EMAIL",     "type": "string", "value": "={{ $('Set - Store Record ID').item.json.SENDER_EMAIL }}" },
            { "name": "BANK_CODE",        "type": "string", "value": "={{ $('Set - Store Record ID').item.json.BANK_CODE }}" },
            { "name": "BANK_ACCOUNT",     "type": "string", "value": "={{ $('Set - Store Record ID').item.json.BANK_ACCOUNT }}" },
            { "name": "HOTLINE",          "type": "string", "value": "={{ $('Set - Store Record ID').item.json.HOTLINE }}" },
            { "name": "COURSE_PORTAL_URL","type": "string", "value": "={{ $('Set - Store Record ID').item.json.COURSE_PORTAL_URL }}" }
          ]
        }
      }
    },
    {
      "id": "reg-12",
      "name": "Lark - Get Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json.LARK_APP_TOKEN }}/tables/{{ $json.LARK_TABLE_ID }}/records/{{ $json.larkRecordId }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $json.larkToken }}" }] }
      }
    },
    {
      "id": "reg-13",
      "name": "IF - Paid after 3 days",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2660, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [{ "id": "cond-paid", "leftValue": "={{ ($json.data.record.fields['Trạng thái'] || [''])[0] }}", "rightValue": "Đã thanh toán", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "reg-14",
      "name": "Lark - Activate Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 160],
      "parameters": {
        "method": "PUT",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $('Set - Post Wait').item.json.LARK_APP_TOKEN }}/tables/{{ $('Set - Post Wait').item.json.LARK_TABLE_ID }}/records/{{ $('Set - Post Wait').item.json.larkRecordId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $('Set - Post Wait').item.json.larkToken }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"fields\":{\"Trạng thái\":[\"Đã kích hoạt\"],\"Segment\":\"Học viên active\",\"Ngày kích hoạt\":{{ $now.toMillis() }}}}"
      }
    },
    {
      "id": "reg-15",
      "name": "Email - Reminder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2880, 440],
      "credentials": { "smtp": { "id": "smtp-credential", "name": "SMTP" } },
      "parameters": {
        "fromEmail": "={{ $('Set - Post Wait').item.json.SENDER_EMAIL }}",
        "toEmail":   "={{ $('Set - Post Wait').item.json.contactEmail }}",
        "subject":   "=Nhac nho: Hoan tat thanh toan {{ $('Set - Post Wait').item.json.courseName }} - VIG Academy",
        "emailFormat": "html",
        "message": "=<!DOCTYPE html><html lang=\"vi\"><head><meta charset=\"UTF-8\"></head><body style=\"margin:0;padding:0;background:#f4f4f4;font-family:'Segoe UI',Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:20px 0;\"><tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:linear-gradient(135deg,#ff6b35,#ffa040);padding:32px;text-align:center;border-radius:16px 16px 0 0;\"><h1 style=\"color:#fff;margin:0;font-size:24px;\">Nhac nho thanh toan</h1></td></tr><tr><td style=\"background:#fff;padding:36px;border:1px solid #eee;\"><p>Xin chao <strong style=\"color:#e91e8c;\">{{ $('Set - Post Wait').item.json.contactName }}</strong>,</p><p>Ban chua hoan tat thanh toan cho khoa hoc <strong>{{ $('Set - Post Wait').item.json.courseName }}</strong>.</p><div style=\"background:linear-gradient(135deg,#fce4ec,#f3e5f5);border:2px solid #e91e8c;border-radius:16px;padding:24px;text-align:center;margin:20px 0;\"><img src=\"https://qr.sepay.vn/{{ $('Set - Post Wait').item.json.BANK_CODE }}/{{ $('Set - Post Wait').item.json.BANK_ACCOUNT }}?amount={{ $('Set - Post Wait').item.json.coursePrice }}&content={{ $('Set - Post Wait').item.json.paymentCode }}\" width=\"180\" height=\"180\" alt=\"QR\" style=\"border-radius:10px;border:4px solid #fff;\"/><p style=\"margin:12px 0 4px;font-size:14px;\">Ma thanh toan: <code style=\"background:#ffe0f0;color:#c2185b;padding:3px 8px;border-radius:4px;font-weight:700;\">{{ $('Set - Post Wait').item.json.paymentCode }}</code></p><p style=\"font-size:16px;\">So tien: <strong style=\"color:#e91e8c;\">{{ $('Set - Post Wait').item.json.coursePrice }} VND</strong></p></div><p style=\"font-size:13px;color:#888;\">Ho tro: <a href=\"tel:{{ $('Set - Post Wait').item.json.HOTLINE }}\" style=\"color:#e91e8c;\">{{ $('Set - Post Wait').item.json.HOTLINE }}</a></p></td></tr><tr><td style=\"background:#f5f5f5;padding:12px;text-align:center;font-size:12px;color:#aaa;border-radius:0 0 16px 16px;\">© 2025 VIG Academy</td></tr></table></td></tr></table></body></html>"
      }
    },
    {
      "id": "reg-16",
      "name": "Lark - Mark Reminded",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 440],
      "parameters": {
        "method": "PUT",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $('Set - Post Wait').item.json.LARK_APP_TOKEN }}/tables/{{ $('Set - Post Wait').item.json.LARK_TABLE_ID }}/records/{{ $('Set - Post Wait').item.json.larkRecordId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $('Set - Post Wait').item.json.larkToken }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"fields\":{\"Trạng thái\":[\"Đã nhắc nhở\"],\"Ngày nhắc\":\"{{ $now.toISO() }}\"}}"
      }
    },
    {
      "id": "sp-01",
      "name": "Webhook - SePay",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 800],
      "parameters": {
        "httpMethod": "POST",
        "path": "sepay-payment",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "sepay-payment-webhook"
    },
    {
      "id": "sp-02",
      "name": "Set - SePay Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 800],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "paymentCode",      "type": "string", "value": "={{ $json.body.code || $json.body.transaction_content }}" },
            { "name": "amountIn",         "type": "number", "value": "={{ $json.body.transferAmount || $json.body.amount_in }}" },
            { "name": "txDate",           "type": "string", "value": "={{ $json.body.transactionDate || $json.body.transaction_date }}" },
            { "name": "LARK_APP_ID",      "type": "string", "value": "cli_a958af6c4bf89e18" },
            { "name": "LARK_APP_SECRET",  "type": "string", "value": "rYvaoByzErm0qkI5xD2DQeJF2NvwwTey" },
            { "name": "LARK_APP_TOKEN",   "type": "string", "value": "ZpfMbtPOLaRWS9srU3EjOj7kpxd" },
            { "name": "LARK_TABLE_ID",    "type": "string", "value": "tblmJbEkZ6518VhN" },
            { "name": "SENDER_EMAIL",     "type": "string", "value": "hello@vigacademy.vn" },
            { "name": "HOTLINE",          "type": "string", "value": "0901234567" },
            { "name": "COURSE_PORTAL_URL","type": "string", "value": "https://learn.vigacademy.vn" }
          ]
        }
      }
    },
    {
      "id": "sp-03",
      "name": "Get Token - SePay",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 800],
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"app_id\":\"{{ $json.LARK_APP_ID }}\",\"app_secret\":\"{{ $json.LARK_APP_SECRET }}\"}"
      }
    },
    {
      "id": "sp-04",
      "name": "Set - SePay Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 800],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "larkToken",        "type": "string", "value": "={{ $json.tenant_access_token }}" },
            { "name": "paymentCode",      "type": "string", "value": "={{ $('Set - SePay Data').item.json.paymentCode }}" },
            { "name": "amountIn",         "type": "number", "value": "={{ $('Set - SePay Data').item.json.amountIn }}" },
            { "name": "txDate",           "type": "string", "value": "={{ $('Set - SePay Data').item.json.txDate }}" },
            { "name": "LARK_APP_TOKEN",   "type": "string", "value": "={{ $('Set - SePay Data').item.json.LARK_APP_TOKEN }}" },
            { "name": "LARK_TABLE_ID",    "type": "string", "value": "={{ $('Set - SePay Data').item.json.LARK_TABLE_ID }}" },
            { "name": "SENDER_EMAIL",     "type": "string", "value": "={{ $('Set - SePay Data').item.json.SENDER_EMAIL }}" },
            { "name": "HOTLINE",          "type": "string", "value": "={{ $('Set - SePay Data').item.json.HOTLINE }}" },
            { "name": "COURSE_PORTAL_URL","type": "string", "value": "={{ $('Set - SePay Data').item.json.COURSE_PORTAL_URL }}" }
          ]
        }
      }
    },
    {
      "id": "sp-05",
      "name": "Lark - Search by Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 800],
      "parameters": {
        "method": "POST",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json.LARK_APP_TOKEN }}/tables/{{ $json.LARK_TABLE_ID }}/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $json.larkToken }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"filter\":{\"conjunction\":\"and\",\"conditions\":[{\"field_name\":\"Mã thanh toán\",\"operator\":\"contains\",\"value\":[\"{{ $json.paymentCode }}\"]}]},\"page_size\":1}"
      }
    },
    {
      "id": "sp-06",
      "name": "IF - Record Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 800],
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose" },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.data.total }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "sp-07",
      "name": "Set - Record Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 660],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "larkRecordId",     "type": "string", "value": "={{ $json.data.items[0].record_id }}" },
            { "name": "contactName",      "type": "string", "value": "={{ $json.data.items[0].fields['Họ và tên'] }}" },
            { "name": "contactEmail",     "type": "string", "value": "={{ $json.data.items[0].fields['Email'] }}" },
            { "name": "courseName",       "type": "string", "value": "={{ $json.data.items[0].fields['Khóa học'] }}" },
            { "name": "paymentCode",      "type": "string", "value": "={{ $json.data.items[0].fields['Mã thanh toán'] }}" },
            { "name": "larkToken",        "type": "string", "value": "={{ $('Set - SePay Token').item.json.larkToken }}" },
            { "name": "LARK_APP_TOKEN",   "type": "string", "value": "={{ $('Set - SePay Token').item.json.LARK_APP_TOKEN }}" },
            { "name": "LARK_TABLE_ID",    "type": "string", "value": "={{ $('Set - SePay Token').item.json.LARK_TABLE_ID }}" },
            { "name": "SENDER_EMAIL",     "type": "string", "value": "={{ $('Set - SePay Token').item.json.SENDER_EMAIL }}" },
            { "name": "HOTLINE",          "type": "string", "value": "={{ $('Set - SePay Token').item.json.HOTLINE }}" },
            { "name": "COURSE_PORTAL_URL","type": "string", "value": "={{ $('Set - SePay Token').item.json.COURSE_PORTAL_URL }}" },
            { "name": "amountIn",         "type": "number", "value": "={{ $('Set - SePay Token').item.json.amountIn }}" },
            { "name": "txDate",           "type": "string", "value": "={{ $('Set - SePay Token').item.json.txDate }}" }
          ]
        }
      }
    },
    {
      "id": "sp-08",
      "name": "Lark - Update Paid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 660],
      "parameters": {
        "method": "PUT",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json.LARK_APP_TOKEN }}/tables/{{ $json.LARK_TABLE_ID }}/records/{{ $json.larkRecordId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $json.larkToken }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"fields\":{\"Trạng thái\":[\"Đã thanh toán\"],\"Segment\":\"Học viên active\",\"Ngày kích hoạt\":{{ $now.toMillis() }}}}"
      }
    },
    {
      "id": "sp-09",
      "name": "Email - Confirmation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2000, 660],
      "credentials": { "smtp": { "id": "smtp-credential", "name": "SMTP" } },
      "parameters": {
        "fromEmail": "={{ $('Set - Record Info').item.json.SENDER_EMAIL }}",
        "toEmail":   "={{ $('Set - Record Info').item.json.contactEmail }}",
        "subject":   "=Thanh toan thanh cong - Chao mung den {{ $('Set - Record Info').item.json.courseName }}!",
        "emailFormat": "html",
        "message": "=<!DOCTYPE html><html lang=\"vi\"><head><meta charset=\"UTF-8\"></head><body style=\"margin:0;padding:0;background:#f4f4f4;font-family:'Segoe UI',Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:20px 0;\"><tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:linear-gradient(135deg,#43a047,#66bb6a);padding:32px;text-align:center;border-radius:16px 16px 0 0;\"><h1 style=\"color:#fff;margin:0;font-size:24px;\">Thanh toan thanh cong!</h1><p style=\"color:rgba(255,255,255,0.88);margin:8px 0 0;\">Chao mung ban den voi VIG Academy</p></td></tr><tr><td style=\"background:#fff;padding:36px;border:1px solid #eee;\"><p>Xin chao <strong style=\"color:#e91e8c;\">{{ $('Set - Record Info').item.json.contactName }}</strong>,</p><p>Thanh toan cua ban da duoc xac nhan thanh cong!</p><table width=\"100%\" style=\"border-collapse:collapse;margin:20px 0;border:1px solid #eee;border-radius:8px;overflow:hidden;\"><tr style=\"background:#f9f0ff;\"><td style=\"padding:12px 16px;font-weight:600;width:40%;\">Khoa hoc</td><td style=\"padding:12px 16px;\">{{ $('Set - Record Info').item.json.courseName }}</td></tr><tr><td style=\"padding:12px 16px;font-weight:600;border-top:1px solid #eee;\">Ma don hang</td><td style=\"padding:12px 16px;border-top:1px solid #eee;\"><code style=\"background:#ffe0f0;color:#c2185b;padding:3px 8px;border-radius:4px;\">{{ $('Set - Record Info').item.json.paymentCode }}</code></td></tr><tr style=\"background:#f9f0ff;\"><td style=\"padding:12px 16px;font-weight:600;border-top:1px solid #eee;\">So tien</td><td style=\"padding:12px 16px;font-weight:700;color:#43a047;border-top:1px solid #eee;\">{{ $('Set - Record Info').item.json.amountIn }} VND</td></tr><tr><td style=\"padding:12px 16px;font-weight:600;border-top:1px solid #eee;\">Thoi gian</td><td style=\"padding:12px 16px;border-top:1px solid #eee;\">{{ $('Set - Record Info').item.json.txDate }}</td></tr></table><div style=\"text-align:center;padding:20px;background:#e8f5e9;border-radius:12px;\"><a href=\"{{ $('Set - Record Info').item.json.COURSE_PORTAL_URL }}\" style=\"display:inline-block;background:linear-gradient(135deg,#e91e8c,#9c27b0);color:#fff;padding:14px 32px;border-radius:8px;text-decoration:none;font-weight:700;\">Truy cap khoa hoc ngay</a></div><p style=\"font-size:13px;color:#888;margin-top:16px;\">Ho tro: <a href=\"tel:{{ $('Set - Record Info').item.json.HOTLINE }}\" style=\"color:#e91e8c;\">{{ $('Set - Record Info').item.json.HOTLINE }}</a></p></td></tr><tr><td style=\"background:#f5f5f5;padding:12px;text-align:center;font-size:12px;color:#aaa;border-radius:0 0 16px 16px;\">© 2025 VIG Academy</td></tr></table></td></tr></table></body></html>"
      }
    },
    {
      "id": "sp-10",
      "name": "Respond - SePay OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 940],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }"
      }
    },
    {
      "id": "sp-11",
      "name": "Respond - Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 1060],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"Payment code not found\" }"
      }
    },
    {
      "id": "cp-01",
      "name": "Webhook - Check Payment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 1300],
      "parameters": {
        "httpMethod": "GET",
        "path": "check-payment",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "check-payment-webhook"
    },
    {
      "id": "cp-02",
      "name": "Set - Check Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 1300],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "code",            "type": "string", "value": "={{ $json.query.code }}" },
            { "name": "LARK_APP_ID",     "type": "string", "value": "cli_a958af6c4bf89e18" },
            { "name": "LARK_APP_SECRET", "type": "string", "value": "rYvaoByzErm0qkI5xD2DQeJF2NvwwTey" },
            { "name": "LARK_APP_TOKEN",  "type": "string", "value": "ZpfMbtPOLaRWS9srU3EjOj7kpxd" },
            { "name": "LARK_TABLE_ID",   "type": "string", "value": "tblmJbEkZ6518VhN" }
          ]
        }
      }
    },
    {
      "id": "cp-03",
      "name": "Get Token - Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 1300],
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"app_id\":\"{{ $json.LARK_APP_ID }}\",\"app_secret\":\"{{ $json.LARK_APP_SECRET }}\"}"
      }
    },
    {
      "id": "cp-04",
      "name": "Set - Check Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 1300],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "larkToken",      "type": "string", "value": "={{ $json.tenant_access_token }}" },
            { "name": "code",           "type": "string", "value": "={{ $('Set - Check Config').item.json.code }}" },
            { "name": "LARK_APP_TOKEN", "type": "string", "value": "={{ $('Set - Check Config').item.json.LARK_APP_TOKEN }}" },
            { "name": "LARK_TABLE_ID",  "type": "string", "value": "={{ $('Set - Check Config').item.json.LARK_TABLE_ID }}" }
          ]
        }
      }
    },
    {
      "id": "cp-05",
      "name": "Lark - Search Paid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 1300],
      "parameters": {
        "method": "POST",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json.LARK_APP_TOKEN }}/tables/{{ $json.LARK_TABLE_ID }}/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $json.larkToken }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"filter\":{\"conjunction\":\"and\",\"conditions\":[{\"field_name\":\"Mã thanh toán\",\"operator\":\"is\",\"value\":[\"{{ $json.code }}\"]},{\"field_name\":\"Trạng thái\",\"operator\":\"contains\",\"value\":[\"Đã thanh toán\"]}]},\"page_size\":1}"
      }
    },
    {
      "id": "cp-06",
      "name": "IF - Is Paid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 1300],
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose" },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.data.total }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "cp-07",
      "name": "Respond - Paid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 1180],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"paid\": true }",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "cp-08",
      "name": "Respond - Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 1420],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"paid\": false }",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook - Register":     { "main": [[{ "node": "Respond - Registration OK", "type": "main", "index": 0 }, { "node": "Set - Registration Data", "type": "main", "index": 0 }]] },
    "Set - Registration Data":{ "main": [[{ "node": "Get Token - Reg",           "type": "main", "index": 0 }]] },
    "Get Token - Reg":        { "main": [[{ "node": "Set - Reg Token",            "type": "main", "index": 0 }]] },
    "Set - Reg Token":        { "main": [[{ "node": "Lark - Create Contact",      "type": "main", "index": 0 }]] },
    "Lark - Create Contact":  { "main": [[{ "node": "Set - Store Record ID",      "type": "main", "index": 0 }]] },
    "Set - Store Record ID":  { "main": [[{ "node": "Email - QR Payment",         "type": "main", "index": 0 }]] },
    "Email - QR Payment":     { "main": [[{ "node": "Wait - 3 Days",              "type": "main", "index": 0 }]] },
    "Wait - 3 Days":          { "main": [[{ "node": "Get Token - Refresh",        "type": "main", "index": 0 }]] },
    "Get Token - Refresh":    { "main": [[{ "node": "Set - Post Wait",            "type": "main", "index": 0 }]] },
    "Set - Post Wait":        { "main": [[{ "node": "Lark - Get Status",          "type": "main", "index": 0 }]] },
    "Lark - Get Status":      { "main": [[{ "node": "IF - Paid after 3 days",     "type": "main", "index": 0 }]] },
    "IF - Paid after 3 days": { "main": [[{ "node": "Lark - Activate Contact",    "type": "main", "index": 0 }], [{ "node": "Email - Reminder", "type": "main", "index": 0 }]] },
    "Email - Reminder":       { "main": [[{ "node": "Lark - Mark Reminded",       "type": "main", "index": 0 }]] },

    "Webhook - SePay":        { "main": [[{ "node": "Set - SePay Data",           "type": "main", "index": 0 }]] },
    "Set - SePay Data":       { "main": [[{ "node": "Get Token - SePay",          "type": "main", "index": 0 }]] },
    "Get Token - SePay":      { "main": [[{ "node": "Set - SePay Token",          "type": "main", "index": 0 }]] },
    "Set - SePay Token":      { "main": [[{ "node": "Lark - Search by Code",      "type": "main", "index": 0 }]] },
    "Lark - Search by Code":  { "main": [[{ "node": "IF - Record Found",          "type": "main", "index": 0 }]] },
    "IF - Record Found":      { "main": [[{ "node": "Set - Record Info", "type": "main", "index": 0 }, { "node": "Respond - SePay OK", "type": "main", "index": 0 }], [{ "node": "Respond - Not Found", "type": "main", "index": 0 }]] },
    "Set - Record Info":      { "main": [[{ "node": "Lark - Update Paid",         "type": "main", "index": 0 }]] },
    "Lark - Update Paid":     { "main": [[{ "node": "Email - Confirmation",       "type": "main", "index": 0 }]] },

    "Webhook - Check Payment":{ "main": [[{ "node": "Set - Check Config",         "type": "main", "index": 0 }]] },
    "Set - Check Config":     { "main": [[{ "node": "Get Token - Check",          "type": "main", "index": 0 }]] },
    "Get Token - Check":      { "main": [[{ "node": "Set - Check Token",          "type": "main", "index": 0 }]] },
    "Set - Check Token":      { "main": [[{ "node": "Lark - Search Paid",         "type": "main", "index": 0 }]] },
    "Lark - Search Paid":     { "main": [[{ "node": "IF - Is Paid",               "type": "main", "index": 0 }]] },
    "IF - Is Paid":           { "main": [[{ "node": "Respond - Paid",             "type": "main", "index": 0 }], [{ "node": "Respond - Pending", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "VIG" }, { "name": "CRM" }, { "name": "SePay" }],
  "pinData": {}
}
